# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [3]:
#Your code here
query = """
SELECT
  employees.firstName
, employees.lastName
, offices.city
, offices.state
FROM 
  employees
JOIN offices
  ON employees.officeCode = offices.officeCode
ORDER BY
  employees.firstName
, employees.lastName
"""

In [4]:
result = cur.execute(query)

In [5]:
result.description

(('firstName', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [13]:
next(result)

('Andy', 'Fixter', 'Sydney', '')

In [6]:
#next(result)
result_data = list(result)
len(result_data)

23

In [7]:
columns = [row[0] for row in result.description]
pd.DataFrame(result_data,columns = columns)

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [18]:
query = """
SELECT orderNumber, orderDate, status
FROM 
  customers
JOIN orders
  ON customers.customerNumber = orders.customerNumber; 
"""

In [19]:
result = cur.execute(query)
result_data = list(result)
columns = [row[0] for row in result.description]
pd.DataFrame(result_data,columns = columns)

    orderNumber   orderDate      status
0         10123  2003-05-20     Shipped
1         10298  2004-09-27     Shipped
2         10345  2004-11-25     Shipped
3         10124  2003-05-21     Shipped
4         10278  2004-08-06     Shipped
5         10346  2004-11-29     Shipped
6         10120  2003-04-29     Shipped
7         10125  2003-05-21     Shipped
8         10223  2004-02-20     Shipped
9         10342  2004-11-24     Shipped
10        10347  2004-11-29     Shipped
11        10275  2004-07-23     Shipped
12        10315  2004-10-29     Shipped
13        10375  2005-02-03     Shipped
14        10425  2005-05-31  In Process
15        10103  2003-01-29     Shipped
16        10158  2003-10-10     Shipped
17        10309  2004-10-15     Shipped
18        10325  2004-11-05     Shipped
19        10113  2003-03-26     Shipped
20        10135  2003-07-02     Shipped
21        10142  2003-08-08     Shipped
22        10182  2003-11-12     Shipped
23        10229  2004-03-11     Shipped
24        10271  2004-07-20     Shipped
25        10282  2004-08-20     Shipped
26        10312  2004-10-21     Shipped
27        10335  2004-11-19     Shipped
28        10357  2004-12-10     Shipped
29        10368  2005-01-19     Shipped
..          ...         ...         ...
296       10242  2004-04-20     Shipped
297       10319  2004-11-03     Shipped
298       10126  2003-05-28     Shipped
299       10214  2004-01-26     Shipped
300       10348  2004-11-01     Shipped
301       10166  2003-10-21     Shipped
302       10321  2004-11-04     Shipped
303       10388  2005-03-03     Shipped
304       10193  2003-11-21     Shipped
305       10265  2004-07-02     Shipped
306       10415  2005-05-09    Disputed
307       10157  2003-10-09     Shipped
308       10218  2004-02-09     Shipped
309       10199  2003-12-01     Shipped
310       10215  2004-01-29     Shipped
311       10184  2003-11-14     Shipped
312       10303  2004-10-06     Shipped
313       10109  2003-03-10     Shipped
314       10236  2004-04-03     Shipped
315       10331  2004-11-17     Shipped
316       10149  2003-09-12     Shipped
317       10219  2004-02-10     Shipped
318       10186  2003-11-14     Shipped
319       10213  2004-01-22     Shipped
320       10207  2003-12-09     Shipped
321       10243  2004-04-26     Shipped
322       10138  2003-07-07     Shipped
323       10179  2003-11-11   Cancelled
324       10360  2004-12-16     Shipped
325       10399  2005-04-01     Shipped

[326 rows x 3 columns]

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!